/*
==================================
CSS Reset
==================================
	
http://meyerweb.com/eric/tools/css/reset/ 
v2.0 | 20110126
License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*	
================================
Custom Properties
================================
*/

:root {
    --primary-color: hsl(226, 64%, 29%);
    --secondary-color: hsla(0, 76%, 55%, 0.623);
    --dark-color: black;
    --light-color: white;
	--gray-color: rgb(212, 212, 212);

    --font-system: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
    --font-google: 'Roboto', sans-serif;

    --br-normal: 8px;
    --br-more: 20px;
    --br-round: 50%;
}

/*	
================================
Custom Styles
================================
*/

.profile-pic {
	border-radius: var(--br-round);
}

button {
	border-radius: var(--br-more);
	background: var(--primary-color);
	color: var(--light-color);
	border: none;
	width: 70px;
	padding: 10px;
}


/*	
================================
Typography
================================
*/
body {
	font-family: var(--font-google);
}

h3,
h5,
h6 {
	font-weight: 700;
}

.announcements div {
	font-size: .9rem;
}
/*	
================================
Overall Layout
================================
*/

body {
	display: grid;
	grid-template-columns: 1fr 4fr;
	grid-template-areas: 
		"sidebar header"
		"sidebar main";
}

header {
	grid-area: header;
}

.sidebar {
	grid-area: sidebar;
}

main {
	grid-area: main;
}

/*	
================================
Header
================================
*/

header {
	background: var(--light-color);
	display: grid;
	grid-template-columns: 2fr 1fr;
	padding: 1rem 0;
}

header form {
	display: grid;
	grid-template-columns: .4fr 3fr;
	padding: 13px 0;
}

label {
	place-self: center;
}

label img {
	width: 20px;
}

form input {
	border-radius: var(--br-more);
	border: none;
	background: var(--gray-color);
	padding: 0 5px;
}

.profile {
	display: grid;
	width: 14rem;
	grid-template-columns: repeat(3, auto);
	place-items: center;
	justify-self: center;
}

.profile .profile-pic {
	width: 40px;
	height: 40px;
	object-fit: cover;
}

.welcome {
	display: grid;
	grid-template-columns: 1fr 5fr;
	place-items: center;
}

.welcome-message {
	justify-self: start;
	display: grid;
}

.welcome-message span:nth-child(2) {
	font-weight: 700;
	font-size: 1.6rem;
	margin-top: 0.5rem;
}
.welcome .profile-pic {
	width: 70px;
	height: 70px;
	object-fit: cover;
}

.header-buttons {
	display: grid;
	width: 19rem;
	grid-template-columns: repeat(3, auto);
	place-items: center;
	justify-self: center;
}


/*	
================================
Sidebar
================================
*/

.sidebar {
	background: var(--primary-color);
	display: grid;
	grid-template-rows: 50px 1fr;
	padding: 20px;
}

.sidebar span {
	align-self: center;
	font-size: 1.5rem;
	font-weight: 700;
	color: var(--light-color);
	display: grid;
	grid-template-columns: 1fr 4fr;
	align-items: center;
}

.sidebar nav {
	line-height: 2.6rem;
	margin-top: 20px;
}

.sidebar-links li a {
	text-decoration: none;
	color: var(--light-color);
	font-size: 1.1rem;
}

.sidebar-links li:nth-child(7) {
	margin-top: 30px;
}

.sidebar span img {
	width: 2rem;
	place-self: center;
}

.sidebar-links li a {
	display: grid;
	grid-template-columns: 1fr 4fr;
	align-items: center;
}

.icons {
	width: 1.2rem;
	place-self: center;
}
/*	
================================
Main
================================
*/

main {
	background: var(--gray-color);
	display: grid;
	grid-template-columns: 3fr 1fr;
	padding: 1rem;
	padding-top: 2rem;
}

.projects {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	grid-template-rows: auto 1fr 1fr;
	grid-auto-rows: 1fr;
}

.projects h3 {
	grid-column: 1 / -1;
	align-self: end;
	margin-bottom: .3rem;
}

.projects div {
	min-height: 10rem;
	background: var(--light-color);
	border-left: 10px solid var(--secondary-color);
	border-radius: var(--br-normal);
	padding: 20px 10px;
	margin-right: 1rem;
	margin-bottom: 1rem;
}

/*	
================================
Main - Aside
================================
*/

aside {
	display: grid;
	grid-template-rows: 1fr 1fr;
}

.announcements {
	display: grid;
	grid-template-rows: auto 1fr;
}

 .announcements h3 {
	align-self: end;
	margin-bottom: .3rem;
}

.announcements > div {
	background: var(--light-color);
	border-radius: var(--br-normal);
	display: grid;
	grid-template-rows: 1fr 1fr 1fr;
	place-items: center;
	padding-top: 1rem;
}

.announcements > div > div {
	border-bottom: 1px solid var(--gray-color);
	border-radius: 0;
	padding-bottom: 15px;
	width: 80%;
	line-height: 1.2rem;
}

.announcements div div:last-child {
	border-bottom: none;
}

.trending {
	display: grid;
	grid-template-rows: auto 1fr;
	margin-top: 2rem;
	margin-bottom: 1rem;
}

.trending h3 {
	align-self: end;
	margin-bottom: .3rem;
}

.trending > div {
	background: var(--light-color);
	border-radius: var(--br-normal);
	display: grid;
	grid-template-rows: repeat(4, 1fr);
	place-items: center;
	padding: 1rem 1rem;
}

.trending img {
	width: 50px;
	height: 50px;
	object-fit: cover;
}

.trending div a {
	display: block;
}

.trending > div > div {
	display: grid;
	grid-template-columns: 1fr 4fr;
	place-items: center;
	padding-bottom: 1rem;
}

.trending > div > div:last-child {
	padding-bottom: 0;
}

.profile-pic + div {
	justify-self: start;
	padding-left: 1rem;
}
